.grid-container {
	column-width: 320px;
	column-gap: 15px;
    width: 100%;
	/* max-width: 1100px; */
	margin: 0px auto;
}

.grid-container > .grid-item {
    width: 100%;
    margin: 5px 0;
	transition: opacity .4s ease-in-out;
    display: inline-block;
    /* column-break-inside: avoid; */
}

@media screen and (max-width: 700px) { 
    .grid-container { column-gap: 0px; }
    .grid-container > .grid-item { width: 100%; }
}