.active > div{
    background-color: #009688;
    color: white;
}
.active > div > * > *{
    color: white;
}
.active :hover{
    background-color: #009688 !important;
    color: white;
}
.active > * > *:hover{
    background-color: #009688 !important;
    color: white;
}

a{
    text-decoration: unset;
}
